# Prerequisites
*.d
*.vscode
*build*

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib
*.so

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.apk

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# lib folders
lib/raylib
lib/raylib-git
lib/nuklear
lib/raylib-nuklear

# other
dex
src/com/thedarkbug/Simple_TTT/R.java
obj
android*
commandlinetools*
